<section class="verflow-hidden relative bg-gray-900 min-h-screen">
    <div class="absolute inset-0 overflow-hidden">
        <img class="object-cover object-top w-screen h-screen transform opacity-10 -translate-y-40" src="https://cdn.rareblocks.xyz/collection/clarity/images/features/6/background-pattern.png" alt="" />
    </div>
    
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-5xl">
        <div class="text-center min-h-screen flex justify-center">
            <div class="self-center">
                <h1 class="max-w-3xl mx-auto -mt-20 text-4xl font-semibold tracking-tight text-white sm:tracking-tight">Multi-channel digital marketing from an award-winning, certified, PPC partner agency.</h1>
                <p class="mt-6 text-lg leading-7 text-white lg:leading-8 lg:text-xl max-w-xl mx-auto">But who cares? We're a group of PPC experts with a focus on helping businesses big and small, local or national find digital marketing success in more ways than one.</p>
                <div class="mt-8">
                    <a
                        href="#"
                        title=""
                        class="inline-flex items-center justify-center px-8 py-4 text-base font-medium text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-full shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700"
                        role="button"
                    >
                        Get 14 Days Free Trial
                    </a>
                </div>
                <p class="mt-8 text-sm font-normal text-gray-400 max-w-xl mx-auto">No credit card required • Cancel anytime</p>
            </div>
        </div>

    </div>
</section>