---
import Picture from '~/components/core/Picture.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class="relative group">
	<div class="overflow-hidden rounded-md aspect-w-4 aspect-h-3">
			<Picture
				src={image}
				class="object-cover w-full h-full transition-all duration-200 group-hover:scale-110 group-hover:rotate-3"
				widths={[400, 900]}
				sizes="(max-width: 900px) 400px, 900px"
				alt={post.title}
				aspectRatio="16:9"
			/>
		</div>
	<h2 class="mt-3 text-xl font-normal">
		<a
		class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
		href={getPermalink(post.slug, 'post')}
		>
		{post.title}
		</a>
	</h2>
		<div class="mt-6">
						<a href={getPermalink(post.slug, 'post')} title={post.title} class="flex items-center text-gray-400" role="button">
						<span class="w-32 transition-all duration-300 lg:opacity-0 lg:group-hover:opacity-100"> Read Full Article </span>
							<svg class="w-5 h-5 text-gray-400 transition-all duration-200 transform lg:-translate-x-32 lg:group-hover:translate-x-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
							</svg>
							<span class="absolute inset-0" aria-hidden="true"></span>
						</a>
					</div>
</article>